
{{define "registSucceed.tmpl"}}
<html>
    <head>
        <title>Đăng ký thành công</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="static/css/login.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header>
            <div class="container">
            </div>
        </header>
        <main>
            <div class="container">
            <div class="login-form">
                <form action="/" method="get">
                    <h1>{{ .message }}</h1>     
                    <div class="btn-box">
                        <button type="submit">
                            Trang chủ
                        </button>
                    </div>
                </form>
            </div>
            </div>
        </main>
        <footer>
            <div class="container">
            </div>
        </footer>
    </body>
</html>
{{end}}